.backg {
    background-color: #0B3E28;
}
.navbar-nav {
    padding: 10px;
    margin-right: 250px;
    font-weight: 525;
    font-size: 17px;

}
.q {
    background-color: rgba(0, 0, 0, 0.4);
}
.col-lg-4 {
    text-align: center;
    margin: auto;
    
}
.text {
    padding: 30px;
}

.rowz {
    text-align: center;
    margin: auto;
    background-color: #2ACC75;
    
}
.card {
    margin: auto;
}

.ods {
    color:black;
    font-weight: bolder;

}
.a {
    background-color: #2ACC75;
    border-radius: 12px;
    margin: 5px;
    padding: 18px;
}
.e {
    background-color: #2ACC75;
    border-radius: 12px;
    margin: 5px;
    padding: 18px;
    margin-bottom: 120px;
}

.mrrg {
    margin: 0px !important;
    padding: 0px !important;
}
.flexbox {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
}

.nadpis {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}
.qq {
    padding-bottom: 150px !important;
}
.d {
    margin-bottom: 50px;
}
.qwe {
    margin-bottom: 70px;
}
h3 {
    border-bottom-style: solid;
    border-bottom-color: #006748;
    font-family: monospace;
}
.ods {
    color:black;
    font-weight: bolder;
    background-color: #00A05D;
    font-family: monospace;
    font-size: 18px;

}
.abouta {
    text-align: center;
    align-self: center;
    margin-top: 150px;
    font-size: 60px;
    font-family: monospace;   
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


  input[type=submit] {
    background-color: #0B3E28;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color: #00683b;
}
  
  .container {
    border-radius: 5px;
    background-color: #2ACC75;
    padding: 20px;
}

  .acont {
      background-color: #006748;
}

  .magi {
      margin-top: 75px;
      margin-bottom: 60px;
      font-family: monospace;
      font-weight: bold;
}


.centered{
	border: 1px;
	height: 100px;
	position: relative;
	top: 100%;
	left: 50%;
	transform:translate(-50%,-50%);
	background: white;
	filter: blur(10px) contrast(20);
    margin-top: 100px;

}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#000000;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.7s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.7s ease infinite;
	background: rgb(255, 0, 191);
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}
.textt{
    font-family: monospace;
}
